package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;

/**
 * ${comments}
 *
 * @author ${author}
 */
public interface ${className}Dao extends BaseDao<${className}Entity> {

}
