package ${package}.${moduleName}.entity;

import java.io.Serializable;
import java.util.Date;

import com.fasterxml.jackson.annotation.JsonIgnore;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@ApiModel("${comments}")
@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
public class ${className}Entity implements Serializable {

#foreach ($column in $columns)

#*	#if($column.columnName == $pk.columnName)
@TableId
	#end*#
	//$column.comments
	@ApiModelProperty("$column.comments")
	private $column.attrType $column.attrname;
#end

}
