package ${package}.${moduleName}.service;

import ${package}.${moduleName}.entity.${className}Entity;

/**
 * ${comments}
 *
 * @author ${author}
 */
public interface ${className}Service extends BaseService<${className}Entity> {

}

